footer {display: inline-block;padding: 0 15px;width: 100%;font-size: 13px;color: #838282;}
footer  p{margin: 0;padding: 10px;text-transform: uppercase; font-size:16px;color:#000000;}
footer  .list-page a{color: #959595;}
footer  .footer-soc a img{opacity: 0.7;}
footer   .footer-soc a{ padding: 5px 5px 5px 0px;}
footer  form .form-input{float: left;width: 60%;background: 0 0;background: #fff;border: 0;color: #666;padding: 8px 10px;}
footer  form .form-submit{border:0;
	padding: 8px 5px;
	font-weight: 400;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #838282;
    color: #FFF;
    width: 40%;}
#back-top{position:fixed; bottom:0px; left:20px}
#back-top span{width:50px; height:50px; display:block; opacity:0.6; background:rgb(255,255,255) url(../img/icons/to_top.webp); background-size:100%; -webkit-border-radius:35px; -moz-border-radius:35px; border-radius:35px; -webkit-transition:0.5s; -moz-transition:0.5s; transition:0.5s}
#back-top a:hover span{opacity:1}
@media (max-width:992px){#back-top a{display:none}}
.copirite{    font-size: 10px;position: relative;float: left;bottom: -7px;left: 10px;}
