.inner-navigation{
height:45px;
    background: white;
}
.inner-nav{
    vertical-align: middle;
    display: inline-block;
    height: 100%;
	    margin: auto;
}

.inner-nav > ul {
    height: 100%;
    padding: 0;
    margin: 0;
}

.inner-nav > ul > li {
    position: relative;
    display: block;
    height: 100%;
    float: left;
        padding: .1rem .2rem;
    margin: 0;
}

.inner-nav > ul > li > a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 3px 5px;
    letter-spacing: .05625rem;
    text-transform: uppercase;
    font-size: 0.85rem;
	text-decoration: none;
}

.inner-nav > ul > li > a > .menu-item-span {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
    display: block;
    top: 50%;
}

.nav-toggle {
    display: block;
}

.inner-nav > ul > li > a {
    color: #fff;
}

.inner-nav > ul > li > a:hover::after {
   background: rgb(228, 4, 19);
    margin-left: 0;
    width: 100%;
    left: 0;
}

.inner-nav > ul > li > a::after {
    position: absolute;
    background: rgba(228, 4, 19, 0.85);
    display: block;
    height: 2px;
    width: 0px;
    bottom: 0px;
    left: 50%;
    margin-left: -10px;
    content: "";
    transition: all .3s ease-out;
}
.inner-nav > ul > li > a{
    color: #222;
}

.inner-nav > ul > li > a:hover,
.inner-nav > ul > li > a.active{
   background-color: #d9d9d9 !important;
}

/*
@media (max-width: 991.98px) {
    .wrapper {
        padding-top: 74px;
    }

    .header,
    .header.header-small,
    .header.header-transparent {
        background: #fff;
        border-bottom: 1px solid rgba(240, 240, 240, .8);
    }

    .header .inner-brand,
    .header.header-small .inner-brand,
    .header.header-transparent .inner-brand {
        color: #222;
    }

    .header .inner-brand .brand-dark,
    .header.header-small .inner-brand .brand-dark,
    .header.header-transparent .inner-brand .brand-dark {
        display: inline-block;
    }

    .header .inner-brand .brand-light,
    .header.header-small .inner-brand .brand-light,
    .header.header-transparent .inner-brand .brand-light {
        display: none;
    }

    .header .inner-nav > ul > li > a,
    .header.header-small .inner-nav > ul > li > a,
    .header.header-transparent .inner-nav > ul > li > a {
        color: #fff;
    }

    .header .inner-nav > ul > li > a:hover,
    .header.header-small .inner-nav > ul > li > a:hover,
    .header.header-transparent .inner-nav > ul > li > a:hover {
        color: rgba(255, 255, 255, .7);
    }

    .header .extra-nav > ul > li:first-child,
    .header.header-small .extra-nav > ul > li:first-child,
    .header.header-transparent .extra-nav > ul > li:first-child {
        border-color: rgba(240, 240, 240, .8);
    }

    .header .extra-nav > ul > li > a,
    .header.header-small .extra-nav > ul > li > a,
    .header.header-transparent .extra-nav > ul > li > a {
        color: #222;
    }

    .header .extra-nav > ul > li > a:hover,
    .header.header-small .extra-nav > ul > li > a:hover,
    .header.header-transparent .extra-nav > ul > li > a:hover {
        color: rgba(34, 34, 34, .65);
    }

    .header .extra-nav > ul > li > a.off-canvas-open,
    .header.header-small .extra-nav > ul > li > a.off-canvas-open,
    .header.header-transparent .extra-nav > ul > li > a.off-canvas-open {
        display: none;
    }

    .header .inner-nav > ul > li > a::after,
    .header.header-small .inner-nav > ul > li > a::after,
    .header.header-transparent .inner-nav > ul > li > a::after {
        display: none;
    }

    .inner-navigation {
        background: #222;
        text-align: left !important;
        max-height: 340px;
        height: auto;
        top: 100%;
        right: 0;
        left: 0;
    }

    .inner-navigation.show {
        overflow-y: auto;
    }

    .inner-navigation.collapse {
        display: none;
    }

    .inner-navigation.collapse.show {
        display: block;
    }

    .inner-navigation.collapsing {
        height: 0;
        transition: height .35s ease;
    }

    .inner-nav {
        display: block;
        padding: 20px 0;
    }

    .inner-nav > ul {
        height: auto;
    }

    .inner-nav > ul > li {
        float: none;
    }

    .inner-nav > ul > li > a {
        padding: 10px 0;
    }

    .inner-nav > ul > li > a > .menu-item-span {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        top: 0;
    }
}
*/
.inner-nav .sub-menu,
.inner-nav .mega-menu {
    position: absolute;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 32px 4px rgba(0, 0, 0, .1);
    min-width: 220px;
     /*left: 10px;
   margin-top: 5px;*/
    visibility: hidden;
    text-align: left;
    padding: 10px 0;
    opacity: 0;
	z-index:999;
}

.inner-nav .sub-menu:not(.mega-menu-row) {
    list-style: none;
}

.inner-nav .sub-menu:not(.mega-menu-row) .sub-menu {
    top: -15px;
    left: 100%;
    margin: 0 2px;
}

.inner-nav .sub-menu:not(.mega-menu-row) li {
    position: relative;
    padding: 0;
    margin: 0;
}

.inner-nav .sub-menu:not(.mega-menu-row) li.menu-item-has-children > a::after {
	display: inline-block;   
	position: absolute;
    right: 20px;
    top: 50%;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    content: "";
    vertical-align: top;
    margin-top: -3px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    height: 7px;
    width: 7px;
}

.inner-nav .mega-menu {
z-index:999;
    white-space: nowrap;
    padding: 0;
}

.inner-nav .mega-menu .sub-menu {
    position: relative;
    background: transparent;
    box-shadow: none;
    padding: 0;
    left: 0;
}

.inner-nav .mega-menu .sub-menu .sub-menu {
    left: auto;
}

.inner-nav .mega-menu .sub-menu + .sub-menu {
    padding-top: 0;
}

.inner-nav .mega-menu .sub-menu .mega-menu-col {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.inner-nav .mega-menu .sub-menu .mega-menu-col .sub-menu {
    min-width: 180px;
}

.inner-nav .mega-menu .sub-menu .mega-menu-col + .mega-menu-col {
    padding-left: 0;
}

.inner-nav .mega-menu .sub-menu .mega-menu-col > a {
    pointer-events: none;
    cursor: default;
}

.inner-nav .mega-menu .mega-menu-row {
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 30px 20px;
}

.inner-nav .sub-menu li > a {
    position: relative;
    padding: 5px 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    font-weight: 500;
    font-size: .75rem;
    color: #000000;
}

.inner-nav .sub-menu li > a > i,
.inner-nav .sub-menu li > a > span {
    margin-right: 10px;
}

.inner-nav .sub-menu.mega-menu-row li > a {
    padding-right: 0;
    padding-left: 5px;
}

.inner-nav .sub-menu li > a:hover,
.inner-nav .sub-menu li.sub-menu-open,
.inner-nav .sub-menu li.sub-menu-open > a {
background:#f00032;
    color: white;
	text-decoration:none;
}

.inner-nav .mega-menu .sub-menu .mega-menu-col > a {
    font-weight: 600;
    color: #222;
}

.inner-nav > ul li.menu-item-has-children .sub-menu,
.inner-nav > ul li.menu-item-has-children .mega-menu {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    transition: opacity .3s .1s, visibility .3s .1s, -webkit-transform .3s .1s;
    transition: opacity .3s .1s, transform .3s .1s, visibility .3s .1s;
    transition: opacity .3s .1s,
                transform .3s .1s,
                visibility .3s .1s,
                -webkit-transform .3s .1s;
}

.inner-nav > ul > li.menu-item-has-children.sub-menu-open > .sub-menu,
.inner-nav > ul > li.menu-item-has-children.sub-menu-open > .sub-menu > .sub-menu-open > .sub-menu,
.inner-nav > ul > li.menu-item-has-children.sub-menu-open > .mega-menu {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.inner-nav .sub-menu-open > .sub-menu,
.inner-nav .sub-menu-open > .mega-menu,
.inner-nav .sub-menu-open > .mega-menu .sub-menu {
    visibility: visible;
    opacity: 1;
}

.inner-nav > ul li.menu-item-has-children .mega-menu .sub-menu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 0;
}
.inner-nav .mega-menu.cat_106{
background-image: url(/img/top_menu/cat/cat_106.png); background-position-x: 100%;
    background-repeat: no-repeat;
}
.inner-nav .sub-menu.cat_14{
background-image: url(/img/top_menu/cat/cat_14.png); background-position-x: 100%;background-position-y: 0%;    background-size: cover;
    background-repeat: no-repeat;
}
.inner-nav .sub-menu.cat_15{
background-image: url(/img/top_menu/cat/cat_15.png); background-position-x: 100%;background-position-y: 0%;    background-size: cover;
    background-repeat: no-repeat;
}
.inner-nav .sub-menu.cat_33{
background-image: url(/img/top_menu/cat/cat_33.png); background-position-x: 100%;background-position-y: 100%;background-size: cover;
    background-repeat: no-repeat;
}
.inner-nav .sub-menu.cat_35{
background-image: url(/img/top_menu/cat/cat_35.png); background-position-x: 100%;background-position-y: 100%;    background-size: cover;
    background-repeat: no-repeat;
}
.inner-nav .sub-menu.cat_56{
background-image: url(/img/top_menu/cat/cat_56.png); background-position-x: 100%;background-position-y: 100%;    background-size: cover;
    background-repeat: no-repeat;
}
.inner-nav .sub-menu.cat_59{
background-image: url(/img/top_menu/cat/cat_59.png); background-position-x: 100%;background-position-y: 0%;    background-size: cover;
    background-repeat: no-repeat;
}
.inner-nav .sub-menu.cat_249{
background-image: url(/img/top_menu/cat/cat_249.png); background-position-x: 100%;background-position-y: 100%;    background-size: cover;
    background-repeat: no-repeat;
}