@charset "utf-8";
/* CSS Document */
html {
    marging-top: 0px;
}



body {

    background: #fff;
    color: #4f4f51 !important;
    font-family: Verdana, Tahoma, Arial;
    font-size: 12px;
    margin: 5px;

}


a {
    color: #498aad;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



img {
    border: 0;
}

