/*
#content { width: 800px; margin: 25px auto; border:1px solid #ccc; padding:0px;}
#content  #head{ background:#EEE; padding:10px; text-align:right; font: normal 20px Arial; color:#666;}
#content  #head a{font: bold 20px Arial; padding:0px 5px 0px; cursor:pointer;}
#content  #setings{background:#EEE; border:2px #DDD solid; border-left:0; border-right:0;}
#content  #setings table{width:100%;}
#content  #setings table tr td{padding:5px;}
#content  #setings table tr:hover{background:#FFE;}
#content table.list {border:0;}
#content table.list td.left {width:200px; border-bottom:1px solid #ccc; border-right:0; padding:3px; font-size:14px; color:#CCC; font-weight:bold;}
#content table.list td.left ul {padding:2px; margin:3px; border:1px solid #DDD; background:#EEE;}
#content table.list td.left li {padding:2px;}
#content table.list td.left li img{float:left;}
#content table.list td.right{width:600px; border-bottom:1px solid #ccc; border-right:0; padding:3px; font-size:12px;}
#content table.list td.right div.title{font-size:13px; height:20px; line-height:20px;}
#content table.list td.right div.title span{font-size:12px; height:20px;}
#content table.list td.right div.title span a{text-decoration:underline;}
#content table.list td.right div.title b{font-size:16px;}
#content table.list td.right div.text{font-size:12px; margin:5px 5px 2px;}
#content table.list tr:hover {background:#FFC;}
.clear { clear: both;}
*/