#popup{
	 position: fixed;
    text-align: center;
    border-radius: 5px;
    display: none;
    left: 20%;
    top: 40px;
    z-index: 3001;
    background: rgb(255, 255, 255);
    min-width: 300px;
	max-width: 900px;
	max-height: 600px;
    padding: 10px;
	overflow-y: auto;
}
@media (max-device-width:480px){#popup{position:fixed;top:15%;left:0%;}
}
/**html #popup{position:absolute;}*/
#contact_form{text-align:center;}
#popup p{font-size:18px;text-align:center;}
#imgcode{float:left;}
#popup input[type=text]{text-align:center;width:150px;padding:0 10px;height:30px;margin:10px 0px;border:1px solid #eee;border-radius:5px;text-decoration:none;box-shadow:inset 1px 2px 6px 0 rgba(100,100,100,.5);color:#34495e;color:#000000;background:#ffffff;font-family:Arial, Tahoma, sans-serif;font-size:16px;}
#popup textarea{text-align:left;width:300px;padding:10px 10px;margin:10px 0px;border:1px solid #eee;border-radius:5px;background:#ffffff;font-family:Arial, Tahoma, sans-serif;font-size:14px;height:80px;}
#popup .button{padding:6px 12px;font-size:16px;box-sizing:border-box;background:rgba(82, 151, 251, 0.89);width:160px;height:35px;text-align:center;color:white;text-shadow:none;border-radius:10px;}
#popup .button:hover{background:rgba(0, 104, 255, 0.9);}
#popup_close{display:block;position:absolute;top:10px;right:10px;width:12px;height:12px;background:url(/img/call/close.png) no-repeat center center;cursor:pointer;z-index:2103;}
#popup_close:hover{opacity:0.7;transform:rotate(90deg);transition:all 0.5s ease-in-out 0s;}
#fade{display:none;background:#2c3e50;position:fixed;left:0;top:0;width:100%;height:100%;opacity:.50;z-index:1000;}

#fade {position:absolute;}
.calll{background:url(/img/callback.png);background-size:200%;display:block;width:100px;height:100px;}
.calll:hover{background-position:-100px 0;background-size:200%;}
#callback{bottom:25px;left:10px;position:fixed;}
.img-circle{background-color:#498aad;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border:2px solid #498aad;width:110px;height:110px;bottom:-16px;left:18px;position:absolute;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;opacity:.5;-webkit-animation:circle-anim 2.4s infinite ease-in-out !important;-moz-animation:circle-anim 2.4s infinite ease-in-out !important;-ms-animation:circle-anim 2.4s infinite ease-in-out !important;-o-animation:circle-anim 2.4s infinite ease-in-out !important;animation:circle-anim 2.4s infinite ease-in-out !important;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#498aad;width:75px;height:75px;bottom:1.5px;left:36px;position:absolute;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;-webkit-animation:circle-fill-anim 2.3s infinite ease-in-out;-moz-animation:circle-fill-anim 2.3s infinite ease-in-out;-ms-animation:circle-fill-anim 2.3s infinite ease-in-out;-o-animation:circle-fill-anim 2.3s infinite ease-in-out;animation:circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:50px;height:50px;bottom:14px;left:49px;position:absolute;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;opacity:.7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:50px;height:50px;background-image:url(/img/call/mini.png);background-position:center center;background-repeat:no-repeat;animation-name:tossing;-webkit-animation-name:tossing;animation-duration:1.8s;-webkit-animation-duration:1.8s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
.img-circle:hover{animation-name:tossing;animation-duration:0.3s;-webkit-animation-duration:0.3s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;background-color:#337ab7;opacity:1;}
@keyframes pulse{0%{transform:scale(0.9);opacity:1;}
50%{transform:scale(1);opacity:1;}
100%{transform:scale(0.9);opacity:1;}}
@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.95);opacity:1;}
50%{-webkit-transform:scale(1);opacity:1;}
100%{-webkit-transform:scale(0.95);opacity:1;}}
@keyframes tossing{0%{transform:rotate(-8deg);}
50%{transform:rotate(8deg);}
100%{transform:rotate(-8deg);}}
@-webkit-keyframes tossing{0%{-webkit-transform:rotate(-8deg);}
50%{-webkit-transform:rotate(8deg);}
100%{-webkit-transform:rotate(-8deg);}}
@-moz-keyframes circle-anim{0%{-moz-transform:rotate(0deg) scale(0.5) skew(1deg);opacity:.1;-moz-opacity:.1;-webkit-opacity:.1;-o-opacity:.1;}
30%{-moz-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.5;-moz-opacity:.5;-webkit-opacity:.5;-o-opacity:.5;}
100%{-moz-transform:rotate(0deg) scale(1) skew(1deg);opacity:.6;-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.1;}}
@-webkit-keyframes circle-anim{0%{-webkit-transform:rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity:.1;}
30%{-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity:.5;}
100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);-webkit-opacity:.1;}}
@-o-keyframes circle-anim{0%{-o-transform:rotate(0deg) kscale(0.5) skew(1deg);-o-opacity:.1;}
30%{-o-transform:rotate(0deg) scale(0.7) skew(1deg);-o-opacity:.5;}
100%{-o-transform:rotate(0deg) scale(1) skew(1deg);-o-opacity:.1;}}
@keyframes circle-anim{0%{transform:rotate(0deg) scale(0.5) skew(1deg);opacity:.1;}
30%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.5;}
100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1;}}
@-moz-keyframes circle-fill-anim{0%{-moz-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}
50%{-moz-transform:rotate(0deg) -moz-scale(1) skew(1deg);opacity:.2;}
100%{-moz-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}}
@-webkit-keyframes circle-fill-anim{0%{-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}
50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);opacity:.2;}
100%{-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}}
@-o-keyframes circle-fill-anim{0%{-o-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}
50%{-o-transform:rotate(0deg) scale(1) skew(1deg);opacity:.2;}
100%{-o-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}}
@keyframes circle-fill-anim{0%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}
50%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.2;}
100%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}}