#avatarControls {
	width: 300px;
	height: 160px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -80px;
	padding: 10px;
	border: 3px solid #d3d3d3;
	background: #ffffff;
	text-align: left;
	z-index: 9999;
}

#avatarControls strong {
	font-size: 14px;
}

#avatarControls dt {
	margin: 0 0 4px 0;
	padding: 0;
}

#avatarControls dd {
	margin: 0 0 4px 10px;
	padding: 0;
}

#avatarControls div.loader {
	float: right;
	padding: 68px 60px 0 0;
	background: url(../img/loader_big.gif) no-repeat left bottom;
}
