  body {
        font-size: 13px;
        width: 194px;
        margin: 0;
        padding: 0;
    }

   

    .border_alls {
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
    }
	.border_alls div{
	font-size: 13px;
	    text-align: center;
	width:164px;
	height:79px;
	}
	.border_alls div .span{
    display: block;
    padding: 5px;
	}

    .border_right {
        border-right: 2px solid #000;
    }

	.table1 {
		padding: 7px 0px 0px 20px;
		page-break-after: always; 
		margin: 0 auto;
	}
