/* Fading Tooltips By Dustin Diaz */
/* Edited: Melnaron */
body div#tooltip
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3d3d3d;
	background: #ffffff;
	border: 1px solid #5d5d5d;
	max-width: 200px;
	padding: 3px;
	min-height: 1em;
	text-align: left;
	position: absolute;
	visibility: hidden;
	z-index: 9999999;
	/*-moz-border-radius: 3px;*/
}
body div#tooltip p
{
	margin: 0;
	padding: 0;
	color: #f7f7f7;
	font-weight: bold;
}
